In [38]:
import pandas as pd

In [39]:
cust_cols = ['custno','firstname','lastname','gender','age','profession','contactNO','emailid','state','isActive','createDate','updateData']
prod_cols = ['productno','productName','Description','isActive','createDate','upDate']
trans_cols = ['txnno','txndate','custno','amount','productno','spendby']

In [40]:
from google.colab import files
datafiles = files.upload()

Saving customers.csv to customers (1).csv

In [41]:
ls

'customers (1).csv'   customers.xml   products.xml        transactions.txt
 customers.csv        products.csv    sample_data/        transactions.xml
 customers.json       products.json   transactions.csv
 customers.txt        products.txt    transactions.json

In [42]:
cust_csv_s1 = pd.read_csv ('customers.csv', names = cust_cols)
cust_csv_s1.head()

   custno firstname lastname  ...  isActive           createDate           updateData
1  Leslie      Bass        F  ...         Y  2017-09-21 12:38:22  2017-10-18 12:12:28
2    Judy     Burks        M  ...         Y  2017-05-22 05:29:22  2017-10-18 12:12:28
3  Marsha     Doyle        F  ...         Y  2017-09-03 12:11:29  2017-10-18 12:12:28
4  Alexis    Battle        M  ...         Y  2017-02-16 04:05:35  2017-10-18 12:12:28
5  Martha     Combs        F  ...         Y  2017-05-15 07:34:35  2017-10-18 12:12:28

[5 rows x 12 columns]

In [45]:
from google.colab import files
datafiles = files.upload()

Saving transactions.csv to transactions (1).csv

In [48]:
ls

'customers (1).csv'   customers.xml   products.xml            transactions.json
 customers.csv        products.csv    sample_data/            transactions.txt
 customers.json       products.json  'transactions (1).csv'   transactions.xml
 customers.txt        products.txt    transactions.csv

In [49]:
#Usercase-1
trans_csv_s1 = pd.read_csv('transactions.csv', header=None, names=trans_cols)
trans_csv_s1.head()

   txnno              txndate  custno  amount  productno spendby
0      1  2017-10-18 12:31:45     923    2559        376    Card
1      2  2017-10-18 12:31:45     219    1706        151    Card
2      3  2017-10-18 12:31:45     927    3462        707    Cash
3      4  2017-10-18 12:31:45     806     865        539    Card
4      5  2017-10-18 12:31:45     958    2494         25    Card

In [21]:
prod_csv_s1 = pd.read_csv('products.csv', names= prod_cols)
prod_csv_s1.head()

   productno productName  ...           createDate               upDate
0          1    Product1  ...  2017-04-03 07:58:55  2017-10-18 12:12:38
1          2    Product2  ...  2017-09-21 12:38:31  2017-10-18 12:12:38
2          3    Product3  ...  2017-09-08 10:32:12  2017-10-18 12:12:38
3          4    Product4  ...  2017-05-22 05:29:27  2017-10-18 12:12:38
4          5    Product5  ...  2017-02-02 08:40:29  2017-10-18 12:12:38

[5 rows x 6 columns]

In [55]:
#Usecase-2
trans_csv_s1.groupby('custno').filter( lambda trans_csv_s1: trans_csv_s1['custno'].count()>3)['custno'].unique()

array([326, 167, 753, 828,   4, 578, 558, 237,  86, 537, 187, 241, 331,
       735, 391, 356, 321, 709, 989])

In [52]:
#usecase-3
trans_csv_s1['productno'].value_counts().head()

427    5
900    5
82     5
768    5
699    4
Name: productno, dtype: int64

In [58]:
#Usecase-4 display top 5 transaction from CSV_s1
trans_csv_s1.sort_values(by = "amount",ascending=False).head()

     txnno              txndate  custno  amount  productno spendby
556    557  2017-10-18 12:31:46     670    4996        509    Card
305    306  2017-10-18 12:31:46     448    4992        427    Cash
574    575  2017-10-18 12:31:46     305    4981        549    Card
531    532  2017-10-18 12:31:46     230    4980        658    Card
232    233  2017-10-18 12:31:45     287    4966        685    Card

In [ ]:
#Usecase-5 Display distinct profession from csv_s1
cust_csv_s1["profession"].unique()

In [60]:
#usecase-6 display the highest age in csv_s1 customer's dataset
cust_csv_s1['age'].max()

'S'

In [61]:
#Usecase-7 Display custo, gender, age, profession,contactno, productno, productname,txtndate, spendby, amount from cdsv
pd.merge(pd.merge(trans_csv_s1[trans_csv_s1['custno'] == 923], prod_csv_s1, on='productno',how = 'inner'))

TypeError: ignored

In [62]:
ls

'customers (1).csv'   customers.xml   products.xml            transactions.json
 customers.csv        products.csv    sample_data/            transactions.txt
 customers.json       products.json  'transactions (1).csv'   transactions.xml
 customers.txt        products.txt    transactions.csv

In [32]:
from google.colab import files
datafile = files.upload()

Saving customers.xml to customers.xml
Saving products.xml to products.xml
Saving transactions.xml to transactions.xml

In [ ]:
pd.read_csv

In [34]:
from google.colab import files
datafile = files.upload()

Saving customers.txt to customers.txt
Saving products.txt to products.txt
Saving transactions.txt to transactions.txt

In [35]:
from google.colab import files
datafile = files.upload()

Saving customers.json to customers.json
Saving products.json to products.json
Saving transactions.json to transactions.json

In [ ]:
#Usecase-8 Load all three psv(pipe separated values) dataset in Pandas Data frames and 
#display first 5 records
df4 = pd.read_csv('customers.txt', sep="|", names= cust_cols)
df5 = pd.read_csv('products.txt', sep="|", names= prod_cols)
df6 = pd.read_csv('transaction.txt', sep="|", names= trans_cols)

In [66]:
df4.head()

   custno firstname lastname  ...  isActive           createDate           updateData
1  Leslie      Bass        F  ...         Y  2017-09-21 12:38:22  2017-10-18 12:12:28
2    Judy     Burks        M  ...         Y  2017-05-22 05:29:22  2017-10-18 12:12:28
3  Marsha     Doyle        F  ...         Y  2017-09-03 12:11:29  2017-10-18 12:12:28
4  Alexis    Battle        M  ...         Y  2017-02-16 04:05:35  2017-10-18 12:12:28
5  Martha     Combs        F  ...         Y  2017-05-15 07:34:35  2017-10-18 12:12:28

[5 rows x 12 columns]

In [70]:
#usecase-8 load all three csv psv (pipe seperated value) dataset in pandas data frame and display first 5 records
customers_psv_s2 = pd.read_csv("customers.txt", sep='|', names= cust_cols)
products_psv_s2 = pd.read_csv("products.txt", sep= "|", names= prod_cols)
transaction_psv_s2 = pd.read_csv("transaction.txt", sep="|", names= trans_cols)

FileNotFoundError: ignored

In [71]:
customers_psv_s2.head()

   custno firstname lastname  ...  isActive           createDate           updateData
1  Leslie      Bass        F  ...         Y  2017-09-21 12:38:22  2017-10-18 12:12:28
2    Judy     Burks        M  ...         Y  2017-05-22 05:29:22  2017-10-18 12:12:28
3  Marsha     Doyle        F  ...         Y  2017-09-03 12:11:29  2017-10-18 12:12:28
4  Alexis    Battle        M  ...         Y  2017-02-16 04:05:35  2017-10-18 12:12:28
5  Martha     Combs        F  ...         Y  2017-05-15 07:34:35  2017-10-18 12:12:28

[5 rows x 12 columns]

In [72]:
products_psv_s2.head()

   productno productName  ...           createDate               upDate
0          1    Product1  ...  2017-04-03 07:58:55  2017-10-18 12:12:38
1          2    Product2  ...  2017-09-21 12:38:31  2017-10-18 12:12:38
2          3    Product3  ...  2017-09-08 10:32:12  2017-10-18 12:12:38
3          4    Product4  ...  2017-05-22 05:29:27  2017-10-18 12:12:38
4          5    Product5  ...  2017-02-02 08:40:29  2017-10-18 12:12:38

[5 rows x 6 columns]

In [ ]:
customers_json_s3 = pd.read_csv("customers.json", lines = True)
products_json_s3 = pd.read_csv("products.json", lines = True)
transaction_json_s3 = pd.read_csv("transaction.json", lines = True)

In [77]:
products_json_s3.head()

NameError: ignored

In [78]:
transactions.json.head()

NameError: ignored

In [79]:
import xml.etree.ElementTree as et

In [ ]:
cust_xml_s4 = et.parse('customers.xml')